/* @import url("https://fonts.googleapis.com/css2?family=inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");*/

:root {
    --bg: #0f0f0f;
    --fg: #1d1d1d;
    --card-1: #b2b2b2;
    --card-2: #cfcdf3;
    --card-3: #8ad2f3;
    
}

*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html {
    scroll-behavior: smooth;
}

body {
    font-family: "TWK Lausanne", "Inter", sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100svh;
    padding: 2em;
    background-color: #000;
    color: #fff;
    display: flex;
    gap: 2em;
    overflow: hidden;
}

.projects, .loader, .locations {
    flex: 1;
    flex-direction: column;
    justify-content: center;
    gap: 2em;
}

.loader {
    align-items: center;
    gap: 0;
}

.loader h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: "Druk", sans-serif;
    font-size: 2.5rem;
    font-style: italic;
    line-height: 0.9;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-image: linear-gradient(0deg, #3a3a3a, #3a3a3a 50%, #fff 0);
    background-size: 100% 200%;
    background-position: 0% 100%;
    color: #3a3a3a;
}

.loading-overlay p {
    text-transform: uppercase;
    font-family: "Akkurat Mono", monospace;
    font-size: 0.7rem;
}

.project-header, .project-item, .location-header, .location-item {
    display: flex;
    gap: 2em;
    opacity: 0;
}

.project-header > * .location-header > * {
    flex: 1;
}

.locations {
    align-items: center;
}

.location-header, .location-item {
    width: 50%;
}

.project-item, .location-item {
    color: #4f4f4f;
}

.image-grid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 2;
}

.grid-row {
    width: 100%;
    display: flex;
    gap: 1em;
}

.loader-img {
    position: relative;
    flex: 1;
    aspect-ratio: 1;
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

.banner-img {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 20%;
    aspect-ratio: 4/5;
}

.intro-copy {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0.8em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title  {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.intro-copy h3, .title h1 {
    position: relative;
    text-transform: uppercase;
    color: #000;
    font-family: "Druk", sans-serif;
    font-weight: 500;
    font-style: italic;
    line-height: 0.9;
}

.title h1 {
    font-size: 3.5rem;
}

.intro-copy h3 {
    font-size: 1.5rem;
}

.intro-copy h3, .title h1 {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.intro-copy h3 .word, .title h1 .word {
    display: inline-block;
    position: relative;
    will-change: transform;
    margin-right: 0.1rem;
}

@media (max-width: 900px) {
    .loader{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.banner-img, .intro-copy, .locations, .projects {
    display: none;
}

.title {
    width: 100%;
    bottom: 20%;
    display: flex;
    justify-content: center;
}

.title h1 {
    font-size: 2.5rem;
}

.image-grid {
    width: 75%;
    gap: 0.5em;
}

.grid-row {
    width: 95%;
    justify-content: space-around;
    gap: 0.5em;
}
}


h1 {
    color: white;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: -0.2rem;
    line-height: 1;
}

a, p {
    position: relative;
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 300;
    /* -webkit-user-select: none; */
}

/* nav {
    position: fixed;
    width: 100vw;
    padding: 2.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    mix-blend-mode: difference;
    background: transparent;
}

.logo svg {
    width: 200px;
    height: auto;
    display: block;
}

.logo a {
    font-weight: 600;
}

.menu-toggle {
    position: relative;
    width: 3rem;
    height: 1.5rem;
    cursor: pointer;
}

.menu-toggle p {
    position: absolute;
    transform-origin: top left;
    will-change: transform, opacity;
    color: white;
}

.menu-overlay {
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: #0f0f0f;
    z-index: 1;
}

.menu-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: left bottom;
    will-change: transform, opacity;
}

.menu-items, .menu-footer {
    width: 100%;
    padding: 2.5em;
    display: flex;
    gap: 2.5em;
}

.col-lg {
    flex: 3;
}

.col-sm {
    flex: 2;
}

.menu-items .col-lg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-preview-img {
    position: relative;
    width: 45%;
    aspect-ratio: 10 / 16;
    overflow: hidden;
    pointer-events: none;
}

.menu-preview-img img {
    position: absolute;
    will-change: transform, opacity;
}

.menu-items .col-sm {
    padding: 2.5em 0;
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}

.menu-links, .menu-socials {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.link, .social {
    padding-bottom: 6px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link a, .social a, button a {
    display: inline-block;
    will-change: transform;
    transition: color 0.5s;
}

.link a {
    font-size: 3.5rem;
    letter-spacing: -0.2rem;
}

.social a {
    color: #8f8f8f;
}

.social a:hover {
    color: #fff;
}

.menu-footer {
    position: absolute;
    bottom: 0;
}

.menu-footer .col-sm {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}

.link a::after,
.social a::after,
.menu-footer a::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after,
.menu-footer a:hover::after{
    transform: scaleX(1);
    transform-origin: left;
} */

.container {
    position: relative;
    width: 100%;
    height: 100%;
    will-change: transform;
    transform-origin: right top;
}

.hero {
    position: relative;
    width: 100vw;
    height: 100svh;
    padding: 2.5;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100svh;
    z-index: -1;
}

.hero h1 {
    width: 80%;
}

/* .menu-toggle p#menu-close {
    opacity: 0;
    transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a, .social a {
    transform: translateY(120%);
    opacity: 0.25;
}

.menu-content {
    transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
    opacity: 0.25;
}

.menu-overlay {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

@media (max-width: 900px) {
    .hero h1 {
        width: 100%;
        font-size: 4rem;
        letter-spacing: 0;
    }

    .menu-items .col-lg {
        display: none;
    }

    .link a::after, 
    .social a::after,
    .menu-footer a::after {
        display: none;
    }
} */

.container-legal {
  position: relative;
  width: 100%;
  height: 100%;
  will-change: transform;
  transform-origin: right top;
  padding-top: 35vh;
  padding-left: clamp(2rem, 16vw, 30rem);
  text-align: left;
}

.container-legal p {
    font-size: 1.25rem;
}

.impressum-page {
    background-color: #0f0f0f;
}

.impressum h1, .datenschutz h1 {
    font-size: clamp(1.56rem, calc(7vw + 1rem), 7rem);
    margin-bottom: 3rem;
}

.datenschutz-page {
    background-color: #0f0f0f;
}

/* .container-banner {
    position: relative;
    height: 100vh;
    background-color: white;
}

.banner {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: absolute;
    top: 40%;
}

.banner-text {
    display: inline-flex;
    animation: scroll 30s linear infinite;
}

.banner-text span {
    font-size: 7rem;
    padding-right: 0%;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.content-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portrait-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: max(60%, 350px);
    width: auto;
    max-width: 100%;
    aspect-ratio: 10/17.7;
    order: 2;
}

.contact-left {
    position: absolute;
    left: 10%;
    top: 60vh;
    width: min(15vw, 500px);
    order: 1;
}

.contact-right {
    position: absolute;
    left: 50%;
    right: 10%;
    top: 65vh;
    order: 3;
}

.contact-right a {
    position: relative;
    left: 60%;
    color: #0f0f0f;
    font-weight: 500;
}

.contact-right a::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0f0f0f;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.contact-right a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.contact-left p {
    color: #0f0f0f;
    font-size: clamp(1rem, calc(0.2rem + 0.75vw) ,1.95rem);
    font-weight: 500;
}

@media (max-width: 500px) {
    .content-banner {
        flex-direction: column;
        align-items: center;
    }
    .portrait-img {
        order: 1;
        position: relative;
        top: 50vh;
        height: 45vh;
    }
    .contact-left {
        order: 2;
        position: relative;
        width: 70vw;
        left: 0;
        text-align: center;
        top: 30vh
    }
    .contact-right {
        order: 3;
        position: relative;
        left: 0;
    }
}

.button-form {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.scroll-button {
    display: inline-block;
    font-size: min(5vw ,2.44rem);
    color: #8f8f8f;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    position: relative;
}

.scroll-button::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: #0f0f0f;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.scroll-button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

.scroll-button:hover {
    color: #0f0f0f;
}

.form-overlay {
    height: 100vh;
    width: 100vw;
    background-color: #0f0f0f;
}

.form-content {
    padding-top: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.form-content p {
    padding-bottom: 0;
    padding-top: 40px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0px;
    width: min(500px, 70vw);
}

.contact-input {
    height: 40px;
    width: 100%;
    outline: none;
    border-width: 0 0 2px;
    padding-left: 0%;
    font-weight: 500;
    background-color: #0f0f0f;
    color: #fff;
    border-color: white;
}

.messagebox {
    height: 120px;
    width: 100%;
    outline: none;
    border-width: 0 0 2px;
    padding-left: 0%;
    padding-top: 10px;
    font-weight: 500;
    background-color: #0f0f0f;
    color: #fff;
    border-color: white;
    font-family: "TWK Lausanne", "Inter", sans-serif;
}

.submit-button {
 position: relative;
 align-self: flex-end;
 display: inline-block;
 font-size: 1.56rem;
 background-color: transparent;
 color: white;
 border: none;
 outline: none;
 cursor: pointer;
 padding-top: 10%;
}

.submit-button::after {
    position: absolute;
    content: "";
    top: 102.5%;
    left: 0;
    width: 100%;
    height: 2px;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.submit-button:hover::after {
    transform: scaleX(1);
    transform-origin: left;
} */


section {
    position: relative;
    width: 100%;
    height: 100svh;
    padding: 2rem;
    background-color: var(--bg);
    color: var(--fg);
}

.intro, .outro {
    text-align: center;
    align-content: center;
}

.intro h1, .outro h1 {
    width: 30%;
    margin: 0 auto;
}

.sticky {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-header {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sticky-header h1 {
    position: relative;
    text-align: center;
    will-change: transform, opacity;
    transform: translateY(40px);
    opacity: 0;
}

.card-container {
    position: relative;
    width: 75%;
    display: flex;
    perspective: 1000px;
    transform: translateY(40px);
    will-change: width;
}

.card {
    position: relative;
    flex: 1;
    aspect-ratio: 5/7;
    transform-style: preserve-3d;
    transform-origin: top;
}

#card-1 {
    border-radius: 20px 0 0 20px;
}

#card-3 {
    border-radius: 0 20px 20px 0;
}

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    overflow: hidden;
}

.card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transform: rotateY(180deg);
    padding: 2rem;
}

.card-back span {
    position: absolute;
    top: 2rem;
    left: 2rem;
    opacity: 0.4;
}

#card-1 .card-back {
    background-color: var(--card-1);
    color: var(--bg);
}

#card-2 .card-back {
    background-color: var(--card-2);
}

#card-3 .card-back {
    background-color: var(--card-3);
}

@media (max-width: 1000px) {
    h1 {
        font-size: 3rem;
    }

    .intro h1, .outro h1 {
        width: 100%;
    }

    .sticky {
        height: max-content;
        padding: 4rem 2rem;
        flex-direction: column;
    }

    .sticky-header {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-bottom: 4rem;
    }

    .sticky-header h1 {
        opacity: 1;
    }

    .card-container {
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }

    .card {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        border-radius: 20px !important;
    }

    #card-1, #card-2, #card-3, .card-back {
        transform: none;
    }
}


.container-bio {
    background-color: #0f0f0f;
    position: relative;
}